:root {
    --primary-color: #9E1099;
    --secondary-color: #433269;
    --background-color: #261d3b;
    --background-color-1: #3a314d;
    --accent-color: #11e7fb;
    --text-color: #ecfcff;
}

/* Header */

header {
    font-family: 'Monoton', cursive;
    position: fixed;
    top: 0rem;
    width: 100%;
    height: 10vh;
    font-size: 1.3rem;
    background-color: var(--background-color-1);
    color: var(--text-color);
    text-align: center;
}

header h1{
    margin-bottom: 0;
    padding-top: .5rem;
    animation: neonAnimation 8s infinite;
    -webkit-animation: neonAnimation 8s infinite;
}

/* Content */

main {
    background-color: var(--background-color);
    font-size: 0.8rem;
    width: 100%;
    top: 10rem;
}

.content {
    margin-top: 5.5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}


.album_art__full img {
    margin: 2rem;
    box-shadow: 0 0 30px var(--accent-color);
    border-radius: .5rem;
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.album_art__full button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.playlist {
    margin-top: 2rem;
    margin-bottom: 11rem;
    justify-items: center;
}

.playlist ul {
    padding-left: 0;
    list-style: none;
}

.playlist ul li a {
    align-items: center;
    text-decoration: none;
    height: 6rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.playlist ul li:hover {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transform: scale(1.01);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}

.actual a {
    animation: neonAnimation 8s infinite;
    background-color: var(--primary-color) !important;
    border-bottom: solid var(--accent-color) .3rem;
    border-radius: .5rem;
    box-shadow: 0 0 1rem var(--accent-color);
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.track__details p {
    padding-left: .5rem;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
}

.track__item a {
    background-color: var(--secondary-color);
    margin: 1rem;
    color: var(--text-color);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.track__details {
    width: 60%;
}

.track__thumb img {
    height: 80px;
    width: 80px;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.track__title {
    font-weight: bold;
}

/* Footer */

footer {
    width: 100%;
    height: 18vh;
    position: fixed;
    bottom: 0rem;
    background-color: var(--background-color-1);
    color: var(--text-color);
    text-shadow: 1px 1px var(--accent-color);
    text-align: center;
}

.controls {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.times {
    padding-top: 1rem;
    font-size: 1.2rem;
}

.progress {
    transform: translate(5%, 50%);
    height: .5rem;
    width: 90%;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.872), 0 2px rgba(41, 4, 40, 0.789);
    -webkit-transform: translate(5%, 50%);
    -moz-transform: translate(5%, 50%);
    -ms-transform: translate(5%, 50%);
    -o-transform: translate(5%, 50%);
}

.progress-bar {
    transform: translate(2.1px, 2.5px) ;
    height: .3rem;
    width: 80%;
    box-shadow: 0 0 1rem var(--accent-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    -webkit-transform: translate(2.1px, 2.5px) ;
    -moz-transform: translate(2.1px, 2.5px) ;
    -ms-transform: translate(2.1px, 2.5px) ;
    -o-transform: translate(2.1px, 2.5px) ;
}

.track__time {
    padding-right: 1rem;
}

button {
    border: solid var(--accent-color);
    background: var(--accent-color);
    cursor: pointer;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

button:hover {
    box-shadow: 0 0 1rem var(--accent-color);
    background-color: var(--primary-color);
    color: var(--text-color);
    animation: neonAnimation 8s infinite;
    -webkit-animation: neonAnimation 8s infinite;
}

.btnPlay {
    width: 4rem;
    height: 4rem;
}

.btnPrev{
    margin-right: 1rem;
    transform: translateY(15%);
    -webkit-transform: translateY(15%);
    -moz-transform: translateY(15%);
    -ms-transform: translateY(15%);
    -o-transform: translateY(15%);
}

.btnNext {
    margin-left: 1rem;
    transform: translateY(15%);
    -webkit-transform: translateY(15%);
    -moz-transform: translateY(15%);
    -ms-transform: translateY(15%);
    -o-transform: translateY(15%);
}

/* Responsive */

@media only screen and (min-width: 45em) {
    
    .content {
        grid-template-columns: repeat(12, 1fr);
    }

    header {
        font-size: 1.5rem;
    }

    .album_art__full {
        left: 1%;
        right: 50%;
        margin-top: 5rem;
        position: fixed;
    }

    .album_art__full img {
        height: 340px;
        width: 340px;
    }

    .album_art__full button {
        margin: auto;
        left: 0;
        right: 50%;
}

    .track__details {
        width: 40%;
    }

    main {
        font-size: 1rem;
    }

    .track__thumb img {
        height: 100px;
        width: 100px;
    }

    .times {
        padding-top: 1rem;
        font-size: 1.3rem;
    }

    .playlist {
        grid-column: 7 / 13;
    }

    .playlist ul li a {
        height: auto;
    }

    .btnPlay {
        width: 4.5rem;
        height: 4.5rem;
    }

    button {
        border: solid var(--accent-color);
        background: var(--accent-color);
        cursor: pointer;
        width: 4rem;
        height: 4rem;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
    }

    .track__thumb img {
        height: 90px;
        width: 90px;
    }
}

@media only screen and (min-width: 60em) {

    .album_art__full {
        left: 5;
    }
    
    .album_art__full img {
        height: 480px;
        width: 480px;
    }

    .actual a {
        border-left: solid var(--accent-color) .4rem;
        border-bottom: solid var(--accent-color) .4rem;
    }

    .playlist ul li:hover {
        transform: translateX(-.5rem);
        -webkit-transform: translateX(-.5rem);
        -moz-transform: translateX(-.5rem);
        -ms-transform: translateX(-.5rem);
        -o-transform: translateX(-.5rem);
    }

    header {
        font-size: 1.8rem;
    }

    header h1 {
        padding-top: 0rem;
    }

    .track__details {
        width: 50%;
    }

    .track__time {
        padding-right: 2rem;
        margin: .5rem;
    }

    main {
        font-size: 1.125rem;
    }
    
    .track__thumb img {
        height: 100px;
        width: 100px;
    }
}

/* Animation */

@keyframes neonAnimation {
    0% {
        text-shadow: 0 0 3px #1e00ff;
        color: #fff;
    }

    25% {
        text-shadow: 0 0 12px #0008ff;
    }

    50% {
        text-shadow: 0 0 20px #0008ff;
        color: #47e0e8;
    }

    75% {
        text-shadow: 0 0 12px #0008ff;
    }

    100% {
        text-shadow: 0 0 3px #0008ff;
        color: #fff;
    }
}